@import './base.css';

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

h2 {
    margin-bottom: 3rem;
}

.btnContainer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button {
    background-color: var(--color-background); 
    color: white; 
    border: 2px solid var(--green-primary);
    border-radius: 999px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button:hover {
    background-color: var(--green-primary);
    color: black;
}

@media (min-width: 1024px) {
    ul {
        gap: 2rem;
    }
}